@model SeedlingSales.ViewModels.SalesViewModel

@if(Model.Sold.Count() == 0)
{
    <strong>Nothing selected to sell</strong>

}
else
{
    <form>
        <table class="table-bordered">

            <tr><td><label>Date:</label></td>
            <td><label>@Model.SaleDate.ToString("d")</label></td></tr>
            @foreach (var sale in Model.Sold)
            {

                <tr>
                    @foreach (var plant in Model.Plants){
                    @if (plant.PlantID.Equals(sale.SoldPlantID)){
                    <td><label> @plant.Name </label ><input type = "hidden" name = "SoldPlant" value = "@plant.Name" /></td >
                } }

                    <td><label>@sale.NumberSold</label><input type="hidden" name="NumberSold" value="@sale.NumberSold" /></td>
                    <td><label>@sale.Price</label><input type="hidden" name="Price" value="@sale.Price" /></td>
                </tr>


            }
            <tr>
                <td><label>Total:</label></td>
                <td><label>@Model.Total</label></td>
            </tr>
            <tr>
                <td><input type="submit" value="Confirm" /></td>
                <td><a asp-action="Sales">Cancel</a></td>
            </tr>
            </table>
        </form>
            }

