@model SeedlingSales.ViewModels.SalesViewModel

<h1>Sales</h1>

<form method="post" asp-action="Confirm">
    <table class="table-bordered"><tr>
        
        @foreach (var plant in Model.Plants)
        {
           
        <tr>
        <td><input type="hidden" name="Sold[@Model.Plants.IndexOf(plant)].TransactionID" value="@Model.Transaction" />
        <select name="Sold[@Model.Plants.IndexOf(plant)].SoldPlantID">
        <option value="@plant.PlantID">@plant.Name</option>
                    }
                }
        </select></td>
        <td><label>Sold:</label>
        <select name="Sold[@Model.Plants.IndexOf(plant)].NumberSold">
           @for (int i = 0; i < @plant.Ready; i++)
           {
               <option value="@i">@i</option>
           }
        </select>
        </td>
        <td>
            <input type="text" value="@plant.Price" name="Sold[@Model.Plants.IndexOf(plant)].Price" />
        </td>
        
        
        </tr>
        }
        <tr>
        <td>
            <input type="submit" value="Submit" />
        </td>

        </tr></table>
</form>
